
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
data_*/
open_data/figures/*
open_data/data/*
open_data/.ipynb_checkpoints
open_data/__pycache__
open_data/animations/*
open_data/dask-worker-space
open_data/slurm*
flex_release/__pycache__
flex_release/output/*
flex_release/configs/*
flex_release/.ipynb_checkpoints
*test*
!flex_release/configs/wu.yaml
!flex_release/configs/pressure_wu.yaml
!flex_release/configs/pressure.yaml
!open_data/data/co2_annmean_gl.csv
