
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
data_*/
open_data/figures/*
open_data/data/*
open_data/.ipynb_checkpoints
open_data/__pycache__
open_data/animations/*
open_data/dask-worker-space
open_data/slurm*
Scripts/__pycache__
Scripts/configs/*
Scripts/.ipynb_checkpoints
open_data/FlexDataset_discarded.py
*.ipynb
*test*
*__pycache__*
!Scripts/configs/unit.yaml
!Scripts/configs/pressure.yaml
!Scripts/configs/safe_start.yaml
!open_data/data/co2_annmean_gl.csv
!Classes/flexdataset_test.py
!Classes/test_data
open_data/showcase.ipynb
Scripts/dummies/.ipynb_checkpoints/run_local-checkpoint.sh
.ipynb_checkpoints/README-checkpoint.md
*/output/*
*.vscode*
open_data/z_to_nc.py
